body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e0f7fa;
    font-family: Arial, sans-serif;
    animation: fadeIn 2s ease-in-out;
}

header {
    text-align: center;
    margin-bottom: 20px;
    opacity: 0;
    animation: fadeIn 2s forwards;
}

h1 {
    margin-bottom: 10px;
    font-size: 32px;
    color: #333;
}

main {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    max-width: 1200px;
    animation: fadeIn 2s ease-in-out;
}

#main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 2px solid #333;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 100%;
    max-width: 600px;
    margin-right: 20px;
    opacity: 0;
    animation: slideIn 2s forwards;
}

#content-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 20px;
}

#puzzle-container {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    gap: 10px;
    margin-right: 20px;
}

#puzzle-container div {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #333;
    border-radius: 10px;
    background-color: #6200ea;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    transition: background-color 0.3s;
}

#puzzle-container div.empty {
    background-color: #f0f0f0;
    border-color: #f0f0f0;
}

#puzzle-container div:hover {
    background-color: #3700b3;
}

#message-container {
    text-align: center;
    flex-grow: 1;
}

.message {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin: 10px 0;
    transition: opacity 1s;
    opacity: 0;
}

#controls {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#controls button {
    background-color: #ff5722;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#controls button:hover {
    background-color: #e64a19;
}

#info-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    opacity: 0;
    animation: fadeIn 2s forwards;
}

#info-container h2 {
    margin-bottom: 10px;
    font-size: 23px;
}

#info-container ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#info-container li {
    margin-bottom: 5px;
    font-size: 18px;
    color: #333;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes slideIn {
    from { opacity: 0; transform: translateX(-50px); }
    to { opacity: 1; transform: translateX(0); }
}

